*{box-sizing: border-box;}

.header{
    font-size:x-large;   
    display:grid;   
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 20em;
    background-size:cover;
    background-image: url("./Images/header.jpg");
    background-size: 170%;
    background-position-y: 53%;
    background-position-x: 50%;   
    border-radius:5px;
    margin-bottom: 1em;
}


.navbar{
    display: grid;
    grid-column: 1/4;
    grid-template-columns: auto, auto, auto;
    grid-template-rows: auto;  
    align-items: center;
}

.navbar-menu {   
    grid-column:2/3;
    width:100%;
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-content: baseline;
  }  
  
  .nav-item a{    
    text-decoration: none;
    color: gray;
}

  .nav-img-container{ 
    grid-column:1/2;
    margin: 0.3em;
  } 

  .nav-redes{
    margin: 0.3em;
    grid-column:3/4;    
    display: flex;
    justify-content:flex-end;
  }

  .img-nav {
     width:3em; 
     align-items: baseline;
  }  
  
  .header-div{
      font-size:x-large; 
      grid-row:7/10;
      grid-column:2/3;
      text-align:center;
      background-color: rgba(172, 177, 182, 0.3);
      border-radius: 5px;
  }
  
.text-header{   
    margin-top: 1em;
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;
    color: rgb(245, 152, 109);;
    opacity: 0.7; 

}  

:hover.nav-item{
    background-color:rgba(172, 177, 182, 0.3);
    border: 1px solid rgb(245, 152, 109);;
    border-radius: 5px;
}

:hover.fa-facebook-f{
    background-color:rgba(172, 177, 182, 0.3);
    border: 1px solid rgb(245, 152, 109);
    border-radius: 5px;
}

:hover.fa-twitter{
    background-color:rgba(172, 177, 182, 0.3);
    border: 1px solid rgb(245, 152, 109);
    border-radius: 5px;
}

.fa-twitter{
    width:3em;
    text-align: center;
    }

.fa-facebook-f{
    width:3em;
    text-align: center;
}

main{
    display: flex;
    font-size:x-large; 
    background-color: rgb(229, 229, 235);

}

.containergeneral{
    display:flex;
    background-color: rgb(229, 229, 235);

}

.container1{
    background-color: rgb(229, 229, 235);
    flex: 0 0 80%;    
    display:flex;       
    margin: 0.3em;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius:5px;   
}

.container2{
    flex: 0 0 calc(20% - 2.5em);;
    background-color: rgb(238, 238, 247);  
    margin:0.8em;   
    padding: 0.3em;
    border-radius:5px;    
}

.container3{
    margin-top:0em;
    padding:0.3em;
    text-align:center;
    border-radius:5px;
    background-color: rgb(238, 238, 247);  }

.scontainer1{
    display:flex;
    flex-direction: row;
    border-radius:5px;  
    background-color: rgb(229, 229, 235);
}

.scontainer2{
    background-color: rgb(229, 229, 235);
    display:flex;
    flex-direction: row;
    border-radius:5px;    
}
.textcolumns{
     column-count:2;
     height: 150px; /* Altura inicial del contenido */
     overflow: hidden; /* Oculta el contenido que supera la altura */
     transition: height 0.5s; /* Añade una transición suave */
}

.leerMas{
    align-self: flex-end;
    background-color:rgba(172, 177, 182, 0.3);
    border: 1px solid rgb(245, 152, 109);
    border-radius: 5px;
    padding: 0.5em;
       
}

:hover.leerMas{
    border: 2px solid rgb(245, 152, 109);
    font-weight: bold;
}

.box5{
    margin:0.5em;
    background-color: rgb(238, 238, 247);   
    padding:0.5em;
    text-align: center;
    border-radius:5px;
}

.box1, .box2, .box3, .box4{   
    display:flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 0.5em;   
    border-radius:5px;
    flex: 0 0 calc(50% - 1em);
    background-color: rgb(238, 238, 247);    
}

.box1 img, .box2 img, .box3 img, .box4 img {
   
    width: 100%;   
    border-radius: 5px;  
}

h5{
     text-align:center;  
     background:rgb(245, 152, 109);  
     border-radius:5px;
     }

h6{
    text-align:center;      
    }
    
@media(max-width: 600px) { 
   
    .container2{
        display:flex;
        flex-direction: column;        
    }    

        .box1, .box2, .box3, .box4 {
      text-align:center;   
    }  

    .containergeneral{
        display:block;
    }

   
}

@media (max-width: 450px){   
    
    

    .scontainer1, .scontainer2{
        display:flex;
        flex-direction: column;
        
    }   

        .box1, .box2, .box3, .box4 {
      text-align:center;      
       
    }

    .containergeneral{
        display:block;
    }


}